.homeBtn {
    float: left;
    margin-left: 50px;
    margin-right: 45%;
    font-size: 22px;
    width: 180px;
}

@media only screen and (max-width: 1200px) {
    .homeBtn {
        margin-right: 35%;
    }
}

@media only screen and (max-width: 900px) {
    .homeBtn {
        margin-right: 25%;
    }
}