.active {
    color: red;
}

.inactive {
color: royalblue;
}

.active , .inactive{
    cursor: pointer;
}

.pageInfo{
    margin: auto;
    margin-top: 20%;
    width: 90%;
    text-align: center;
}

.spanSpecial{
   font-size: larger;
}

.authSpan{
    margin-top: 60px;
}