<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wear-it API</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

        <div class="nav-bar">
            <a href="/">home</a>
            <a href="/user/login">login</a>
            <a href="/user/register">register</a>
            <a>profile</a>
            <a href="/products/cart">products</a>
            <a>cart</a>
            <a>completed orders</a>
        </div>

    {{{body}}}

</body>

</html>