<link rel="stylesheet" href="/css/add-to-cart.css">

<main>
    <form action="/products/add-to-cart" method="POST" class="form">

        <input name="productName" type="text" placeholder="productName">
        <input name="price" type="text" placeholder="price">
        <input name="size" type="text" placeholder="size">
        <input name="imageURL" type="text" placeholder="imageURL">
        <br/>
        <button type="submit">ADD</button>

    </form>
</main>