<link rel="stylesheet" href="/css/make-order.css">

<main class="box">
    <form action="/products/make-order" method="POST" class="form">

        <input name="productName" type="text" placeholder="productName">
        <input name="price" type="text" placeholder="price">
        <input name="size" type="text" placeholder="size">
        <input name="imageURL" type="text" placeholder="imageURL">
        <br />
        <input checked type="checkbox" id="single" name="isSingle">
        <button type="submit">Make Order</button>

    </form>
</main>