<main>
  <link rel="stylesheet" href="/css/register.css">
  <div class="form">
  <h1>Register Form</h1>
      {{#each errors}}
      <span class="error">{{msg}}</span>
      <br/>
      {{/each}}
    <form action="/user/register" method="POST">
      <label for="username">Username</label>
      <br/>
      <input type="text" id="username" name="username" value="{{username}}">
      <br/>

      <label for="password">Password</label>
      <br/>

      <input type="password" id="password" name="password">
      <br/>

      <label for="rePassword">Re-Password</label>
      <br/>

      <input type="password" id="rePassword" name="rePassword">
      <br/>

      <label for="email">Email</label>
      <br/>

      <input type="text" id="email" name="email">
      <br/>

      <input type="submit" value="Register">
    </form>
  </div>
</main>