.title {
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(5, 164, 218);
    color: #fff;
    margin: 0;
    height: 40px;
    margin-top: 1px;
}

.cartBox {
    min-height: 80vh;
    max-height: 85vh;
    width: 60%;
    margin: 0 auto;
    overflow: auto;
    float: left;
    box-shadow: 0px 0px 10px 2px lightgray;
}

.total {
    width: 35%;
    margin: 2.5%;
    height: 400px;
    float: right;
    background: rgb(245, 242, 242);
}

.totalPrice {
    color: darkgreen;
    font-size: 30px;
    font-weight: 600;
    padding: 10%;
    text-align: center;
}

/* BUTTONS  */

.deleteBtn, .orderBtn {
    margin: auto;
    cursor: pointer;
    margin-top: 3%;
    padding: 3%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    width: 40%;
}

.orderBtn {
    background: rgb(42, 192, 252);
}

.deleteBtn {
    background: rgb(243, 118, 96);
}

.noItems {
    font-size: 40px;
    text-align: center;
}

.link {
    text-decoration: none;
    font-weight: 900;
    font-size: larger;
    color: rgb(41, 84, 223);
    transition: 0.6s;
    transition-timing-function: ease-in-out;
}

.link:hover {
    color: rgb(59, 58, 58);
    text-decoration: underline;
}