body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: rgb(122, 115, 115);
    overflow: hidden;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}