.linkBtn {
    text-decoration: none;
    font-weight: 700;
    color: rgb(3, 108, 143);
}

.btn {
    margin: auto;
    transition: 0.6s;
    transition-timing-function: ease-in-out;
    border: 3px rgb(76, 182, 224) solid;
    width: auto;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
}

.btn:hover {
    border-radius: 20px;
    border: 3px rgb(45, 174, 224) solid;
    background: rgb(242, 249, 250);
    color: rgb(4, 67, 88);
}